.stop-watch{
    /* width: 500px; */
    /* background-color: #0d0c1b; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.digits{
    font-size: 20px;
    color:  #000;
}
  
.mili-sec{
    color:  #e42a2a;
}

.Control-Buttons {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
  .btn-grp {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }